.BTH{
background-color: cadetblue;
margin: 0%;
width: 100%;
}
    
.BH{
font-size: 20px;
}
.Texto1{
background-color: cadetblue;
margin: 0%;
}

.Texto2{
background-color: cadetblue;
margin: 0%;
}   
.Imagen1{
width: 100%;
height: 550px;
}
